<html>
  <head>
    <title>{{query}} - Doge Search</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="vendor/bootstrap-3.1.1-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style/search.css" />
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <span class="navbar-brand">
        <img id="logo" src="image/logo.png" alt="Doge" />
      </span>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Type keywords here" value="{{query}}">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
    </nav>
  </body>
</html>
