<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <title>{{query}} - Doge Search</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="vendor/bootstrap-3.1.1-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style/search.css" />
  </head>
  <body>

    
    <nav id="navbar" class="navbar navbar-default" role="navigation">
      <span class="navbar-brand">
        <a href="/"><img id="logo" src="image/logo.png" alt="Doge" /></a>
      </span>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" name="q" class="form-control" placeholder="Type keywords here" value="{{query}}">
        </div>
        <input type="submit" class="btn btn-default" value="Search" />
      </form>
      <div class="navbar-brand navbar-right">{{results|length}} results</div>
    </nav>
    <div class="container">
      <ul id="result-list">
        {% for document, frequency in results %}
        <li>
          <div class="result-item">
            <div class="title">{{document.title}}</div>
            <div class="content">'{{query}}' appears {{frequency}} times in this document.</div>
            <div class="info">
              <span class="url">{{document.url}}</span>
              -
              <span class="date">{{document.date}}</span>
          </div>
        </li>     
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
